@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background: linear-gradient(to right, #000428, #004e92)
}
nav{
  top:0;
  height:65px;
  width:100%;
  background-color:rgba(52, 53, 54, 0.543);
  z-index: 10;
  position: sticky;

  transition: .5s ease-in-out;
}
nav:hover{
  background-color:#0671c2;
  box-shadow: 0px 2px 5px #1f2340ad;
}
nav.sticky{
  padding:5px 100px;
  background: #fff;
}
label.logo{
  color:white;
  font-size:35px;
  font-family: 'Shadows Into Light', cursive;
  line-height:80px;
  padding:0 100px;
  font-weight:bold;
}
nav ul{
  float:right;
  margin-right:20px;
}
.close-button-nav{
scale:0;
cursor: pointer;
border: none;
outline: none;
background: none;
font-size: 1.25rem;
font-weight: bold;
color:white;
font-size: 3rem;

transform: translateX(900%);

  display:inline-block;
  
  margin:-5px 5px;
}
nav ul li{
  display:inline-block;
  line-height:80px;
  margin:0 5px;
}
nav ul li a{
  color:white;
  font-size:1.2rem;
  padding:7px 13px;
  text-transform:uppercase;
  border-radius:3px;
}
.signup_nav{
  background-color: rgb(255, 255, 255);
  color:black;
  cursor:pointer;
}
.signup_nav:hover{
  border-radius: 6px;
  background: white;
  box-shadow:  4px 4px 7px #0404049e;
  transition:0.4s ease-in-out;
}
nav a.active,nav a:hover{
  transition:.5s;
  background-color: #1b9bff;
}
.checkbtn{
  font-size:30px;
  color:white;
  float:right;
  line-height:80px;
  margin-right:40px;
  cursor:pointer;
  display:none;
}
#check{
  display:none;
}
@media(max-width:952px){
  label.logo{
      font-size:30px;
      padding-left:50px;
  }
  nav ul li a{
      font-size:1.2rem;
  }
  ul{
    position:fixed;
    width: 100%;
    height:100vh;
    background: #2c3e50;
    top:65px;
    left:-100%;
    text-align:center;
    transition: all .5s;

    z-index: 3;

    overflow:auto;
}
.close-button-nav{
  scale:1;
  transform: translateX(700%)
}
nav ul li{
    display:block;
    margin:8vh 0;
    line-height:30px;
}
}
@media(max-width:858px){
  .checkbtn{
      display:block;
  }
  ul{
      position:fixed;
      width: 100%;
      height:100vh;
      background: #2c3e50;
      top:65px;
      left:-100%;
      text-align:center;
      transition: all .5s;

      z-index: 3;

      overflow:auto;
  }.close-button-nav{
    scale:1;
    transform: translateX(500%)
  }
  nav ul li{
      display:block;
      margin:50px 0;
      line-height:30px;
      margin:8vh 0;
  }
  nav ul li a{
      font-size:1.2rem;
  }
  a:hover,a.active{
      background:none;
      color:#0082e6;
  }
  /* #check:checked ~ ul{
      left:-20%;
  } */
}
@media(max-width:500px){
.close-button-nav{
  scale:1;
  transform: translateX(300%)
}
}
@media(max-width:330px){
.close-button-nav{
  scale:1;
  transform: translateX(260%)
}
}
@media screen and (max-device-width:920px) and (orientation:landscape){
  .checkbtn{
      display:block;
  }
  ul{
      position:fixed;
      width: 100%;
      height:100vh;
      background: #2c3e50;
      top:65px;
      left:-100%;
      text-align:center;
      transition: all .5s;

      z-index: 3;

      overflow:auto;
  }
  nav ul li{
      display:block;
      margin:20vh 0;
      line-height:20px;
  }
  nav ul li a{
      font-size:1.2rem;
  }
  a:hover,a.active{
      background:none;
      color:#0082e6;
  }
  /* #check:checked ~ ul{
      left:-20%;
  } */
}

.aboutContainer{
  color:white;
  width:100vw;
  border:2px red dashed;
  margin-top: 10px;
  /* height:600px; */
  display:grid;
  grid-template-areas: 
  "bac"
  "skil"
  "fut";
  grid-template-rows: repeat(3, 1fr);
  background-color:rgba(0, 0, 0, 0.64);
}
.aboutBackground{
  grid-area: bac;
  display:flex;
}
.backgroundText{
  border:2px dashed yellowgreen;
  width:50%;
  padding:15px;
}
.backgroundText h2{
  font-size: 3rem;
}
.backgroundText p{
  font-size:1.05rem;
  padding-top: 40px;
}
.backgroundImage{
  width:50vw;
  border:2px yellow dashed;
}
.backgroundImage .pro-picContainer{
  border:2px dashed red;
}
.backgroundImage .pro-picContainer img{
  border-radius: 50%;
  scale:0.6;
}

.aboutSkills{
  grid-area: skil;
}
.aboutFuture{
  grid-area: fut;
}




/* Footer */

.footerContainerMain{
    width:98%;
    position:relative;
    bottom: 0;
    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height:150px;

    background-color: #000000a3;
  }
  footer{
    position: relative;
    height:100%;
    display:flex;
  }
  
  .footerContainer{
    color:white;
    width:100%;
    /* height:60%; */
    display:grid;
    grid-template-areas: 
        "con nav fol";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    /* grid-row-end: span; */
    align-items:center;
    gap:10px;
  }
  .footerContainer > *{
    text-align: left;
    padding:0 20px;
    height:auto;
  }
  
  .footerContainer .navigation a {
    display:block;
    color:#fbfbfbb4;
  }
  .footerContainer h3{
    font-size: 1.7rem;
  }
  .contactUs{
    grid-area:con;
  }
  .contactUs p{
    color:#fbfbfbb4;
  }
  .navigation{
    grid-area:nav;
  }
  .followUs{
    grid-area:fol;
  }
  .followUs a{
    color:#fbfbfbb4;
    font-size: 2rem;
  }
  .followUs .fa.fa-github{
    margin-left: 0;
  }
  .followUs .fa.fa-twitter,
  .followUs .fa.fa-linkedin{
    margin-left: 40px;
  }
  
  .text-center{
    color:white;
    display:block;
    position:relative;
    text-align: center;
    font-size: 0.9rem;
    padding:20px 0;
    background-color: rgba(0, 0, 0, 0.639);
  }

  @media(max-width:716px){
    .footerContainerMain{
      height:240px;
    }
    .footerContainer{
      grid-template-areas: 
          "con nav"
          "fol fol"
          ;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-row-end: span;
      align-items:center;
      gap:10px;
      }
      .contactUs{
      grid-area:con;
      }
      .navigation{
      grid-area:nav;
      }
      .followUs{
      grid-area:fol;
      }
  }
  @media(max-width:600px){
    .footerContainer h3{
      font-size: 1.4rem;
      }
      .followUs a{
      color:#fbfbfbb4;
      font-size: 1.5rem;
      }
      .followUs .fa.fa-twitter,
      .followUs .fa.fa-linkedin{
          margin-left: 20px;
      }
      .footerContainer p,
      .footerContainer .navigation a{
          font-size: 0.93rem;
      }
  }
  @media(max-width:550px){
    .footerContainerMain{
      height:220px;
    }
    .footerContainer{
      grid-template-areas: 
          "con nav"
          "fol fol"
          ;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-row-end: span;
      align-items:center;
      gap:10px;
      }
      .contactUs{
      grid-area:con;
      }
      .navigation{
      grid-area:nav;
      }
      .followUs{
      grid-area:fol;
      }
  }
  @media(max-width:480px){
    .footerContainerMain{
      height:350px;
    }
    .footerContainer{
      grid-template-areas: 
          "con" 
          "nav"
          "fol"
          ;
      /* grid-template-columns: 1fr; */
      grid-template-rows: repeat(3, auto);
      grid-row-end: span;
      align-items:center;
      gap:10px;
      }
      .contactUs{
      grid-area:con;
      }
      .navigation{
      grid-area:nav;
      }
      .followUs{
      grid-area:fol;
      }
  }
  @media(max-width:385px){
    .footerContainer{
      grid-template-areas: 
          "con" 
          "nav"
          "fol"
          ;
      /* grid-template-columns: 1fr; */
      grid-template-rows: repeat(3, auto);
      grid-row-end: span;
      align-items:center;
      gap:10px;
      }
      .contactUs{
      grid-area:con;
      }
      .navigation{
      grid-area:nav;
      }
      .followUs{
      grid-area:fol;
      }
  }

/* SIGN UP Modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    /* border: 1px solid black; */
    border-radius: 5px;
    z-index: 11;
    background-color: #0671c2;
    width: 600px;
    max-width: 80%;
  
    box-shadow:  -15px 15px 36px #0667b220,
             15px -15px 36px #067ad21f;
  
    font-family: 'Poppins';
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 2.7rem;
    font-weight: bold;
    color:white;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color:white;
    font-size: 2rem;
  }
  
  .modal-body {
    padding: 10px 15px;
    text-align: center;
    background-color: rgba(31, 32, 33, 0.905);
  }
  .modal-body .email{
    color:white;
    font-size:1.1rem;
  }
  .modal-body .password{
    color:white;
    font-size:1.1rem;
    margin-top: 30px;
    display:block;
  }
  .modal-body .emailInput {
    display:block;
    outline:0;
    /* border-radius: 5px; */
    border:none;
    border-bottom:2px solid white;
    background-color: rgba(36, 42, 53, 0.364);
    color:white;
    font-size:1.1rem;
    padding:6px 5px;
    text-align: center;
    width: 300px;
  
    margin-left:50%;
    transform: translateX(-50%);
  }
  .modal-body .emailInput:focus{
    background-color: #2767d5;
  }
  .modal-body .passwordInput {
    display:block;
    outline:0;
    /* border-radius: 5px; */
    border:none;
    border-bottom:2.5px solid white;
    background-color: rgba(36, 42, 53, 0.364);
    color:white;
    font-size:1.1rem;
    padding:6px 5px;
    text-align: center;
    width: 300px;
  
    margin-left:50%;
    transform: translateX(-50%);
  }
  .modal-body .passwordInput:focus{
    background-color: #2767d5;
  }
  .modal-body .check_wrapper{
    margin-top: 15px;
    font-size:1.05rem;
  }
  .modal-body .togglePassword{
    color:white;
  }
  .modal-body .checkbox{
    scale:1.6;
    margin-left: 15px;
    outline: 0;
    border: 0;
  }
  .modal-body button {
    width:300px;
    max-width: 80%;
    font-size:1.2rem;
    font-weight: 700;
    color:white;
    background-color:#005eff;
    border:none;
    outline:none;
    height:40px;
    border-radius: 5px;
  
    margin-top:50px;
  
    cursor:pointer;
  }
  .modal-body .orConditional{
    display:block;
    color:white;
    font-size:1.2rem;
    font-weight: 800;
  }
  .modal-body i{
    color:white;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 20px;
    cursor:pointer;
  }
  .modal-body .fa-brands.fa-google{
    margin-left: 0;
  }
  .alreadyHave{
    color:white;
  }
  .modal-body .login{
    color:#005eff;
    cursor:pointer;
    text-decoration: underline;
  }
  @media(max-width:500px){
    .modal, .modal-body, .modal-header, .modal-body {
        width:280px;
    }
    .modal-body .passwordInput, .modal-body .emailInput{
        width:200px;
    }
  }
  @media(max-width:338px){
    .modal, .modal-body, .modal-header, .modal-body {
        width:245px;
    }
    .modal-body .passwordInput, .modal-body .emailInput{
        width:175px;
    }
  }
  @media(max-width:300px){
    .modal, .modal-body, .modal-header, .modal-body {
        width:224px;
    }
    .modal-body .passwordInput, .modal-body .emailInput{
        width:160px;
    }
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 10;
  }