@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Poppins&display=swap');
*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.container_1{
    background-color: blue;
    text-align: center;
}
.fa-solid.fa-star{
    font-size: 50px;
    color:white;
}


