@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background: linear-gradient(to right, #000428, #004e92)
}
nav{
    top:0;
    height:65px;
    width:100%;
    background-color:rgba(52, 53, 54, 0.543);
    z-index: 10000;
    position: sticky;

    transition: .5s ease-in-out;
}
nav:hover{
    background-color:rgb(6, 113, 194);
    box-shadow: 0px 2px 5px #1f2340ad;
}
nav.sticky{
    padding:5px 100px;
    background: #fff;
}
label.logo{
    color:white;
    font-size:35px;
    font-family: 'Shadows Into Light', cursive;
    line-height:80px;
    padding:0 100px;
    font-weight:bold;
}
nav ul{
    float:right;
    margin-right:20px;
}
nav ul li{
    display:inline-block;
    line-height:80px;
    margin:0 5px;
}
nav ul li a{
    color:white;
    font-size:17px;
    padding:7px 13px;
    text-transform:uppercase;
    border-radius:3px;
}
.signup_nav{
    background-color: rgb(255, 255, 255);
    color:black;
}
.signup_nav:hover{
    border-radius: 6px;
background: white;
box-shadow:  4px 4px 7px #0404049e;
    transition:0.4s ease-in-out;
}
a.active,a:hover{
    transition:.5s;
    background-color: #1b9bff;
}
.checkbtn{
    font-size:30px;
    color:white;
    float:right;
    line-height:80px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}
#check{
    display:none;
}
@media(max-width:952px){
    label.logo{
        font-size:30px;
        padding-left:50px;
    }
    nav ul li a{
        font-size:16px;
    }
}
@media(max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        width: 100%;
        height:100vh;
        background: #2c3e50;
        top:65px;
        left:-100%;
        text-align:center;
        transition: all .5s;

        z-index: 3;
    }
    nav ul li{
        display:block;
        margin:50px 0;
        line-height:30px;
    }
    nav ul li a{
        font-size:1rem;
    }
    a:hover,a.active{
        background:none;
        color:#0082e6;
    }
    #check:checked ~ ul{
        left:-20%;
    }
}
@media screen and (max-width:858px) and (orientation:landscape){
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        width: 100%;
        height:100vh;
        background: #2c3e50;
        top:65px;
        left:-100%;
        text-align:center;
        transition: all .5s;

        z-index: 3;
    }
    nav ul li{
        display:block;
        margin:3.5% 0;
        line-height:20px;
    }
    nav ul li a{
        font-size:1rem;
    }
    a:hover,a.active{
        background:none;
        color:#0082e6;
    }
    #check:checked ~ ul{
        left:-20%;
    }
}

/* Sign up */

.container_2 {
    width:70vw;
    height:75vh;
    position:relative;
    margin-top:6%;
    margin-left: auto;
    margin-right:auto;
    border-radius: 5px;;

    border: 0.5px solid white;

    display:flex;

    font-family: 'Poppins';
}
.form {
    width:45%;
    /* border:2px solid skyblue; */

    background-color:whitesmoke;
}
.form h3 {
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    margin-top:6%;
    font-family: 'Poppins';
}
@media (max-width:574px){
    .form h3{
        font-size:2.8rem;
    }
    .form button{
        top:30px;
    }
    .check_wrapper{
        position:relative;
        top:1.2rem;
        /* border:2px skyblue solid; */
    }
    .check_wrapper input{
    scale:0.9;
    }
}
.form .signup_contents{
    /* border:2px solid red; */

    display: block;
    margin-top: 7vh;
}
.signup_contents label {
    color:rgb(60, 57, 57);
}
.form .signup_contents > * {
    display:block;
    position:relative;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
    
}
.form .signup_contents input {
    padding:1px;
    margin-top: 1%;
    margin-bottom:7%;
    width:70%;
    height:30px;
    background-color:whitesmoke ;
    border:none;
    border-bottom: 1px solid black;

    font-size:1.2rem;
}
.form .signup_contents input:focus{
    outline:0;
}
.form button {
    background: #212121;
    padding: 8px 12px;
    color:#ffff;
    font-size:1.1rem;
    border-radius:5px;

    transition: 0.3s;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    width:70%;
}
.form button:hover {
    color:black;
    background-color:white;
    scale:1.05;
    border: 0.4px solid black;
    box-shadow: 2px 2px 2px 2px;
    cursor:pointer;
}
.check_wrapper{
    display:flex;
    justify-content: center;
    margin-bottom: 5%;
}
.check_wrapper label {
    font-size:1.05rem;  
    color:rgb(60, 57, 57);
}
.check_wrapper input{
    padding: 2px;
    scale:2;
    margin-left:5%;
    border-radius:0px;
    cursor:pointer;
}
.kid {
    width:55%;
    /* border:2px solid pink; */
    background: url("signup_kid_playing.jpeg") rgba(2, 77, 138, 0.914);
    background-size: cover;
    background-blend-mode:overlay;
    background-position: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.kid img {
    z-index: 1;
}
