@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background: linear-gradient(to right, #000428, #004e92)
}
nav{
    top:0;
    height:65px;
    width:100%;
    background-color:rgba(52, 53, 54, 0.543);
    z-index: 10000;
    position: sticky;

    transition: .5s ease-in-out;
}
nav:hover{
    background-color:rgb(6, 113, 194);
    box-shadow: 0px 2px 5px #1f2340ad;
}
nav.sticky{
    padding:5px 100px;
    background: #fff;
}
label.logo{
    color:white;
    font-size:35px;
    font-family: 'Shadows Into Light', cursive;
    line-height:80px;
    padding:0 100px;
    font-weight:bold;
}
nav ul{
    float:right;
    margin-right:20px;
}
nav ul li{
    display:inline-block;
    line-height:80px;
    margin:0 5px;
}
nav ul li a{
    color:white;
    font-size:17px;
    padding:7px 13px;
    text-transform:uppercase;
    border-radius:3px;
}
.signup_nav{
    background-color: rgb(255, 255, 255);
    color:black;
}
.signup_nav:hover{
    border-radius: 6px;
background: white;
box-shadow:  4px 4px 7px #0404049e;
    transition:0.4s ease-in-out;
}
a.active,a:hover{
    transition:.5s;
    background-color: #1b9bff;
}
.checkbtn{
    font-size:30px;
    color:white;
    float:right;
    line-height:80px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}
#check{
    display:none;
}
@media(max-width:952px){
    label.logo{
        font-size:30px;
        padding-left:50px;
    }
    nav ul li a{
        font-size:16px;
    }
}
@media(max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        width: 100%;
        height:100vh;
        background: #2c3e50;
        top:65px;
        left:-100%;
        text-align:center;
        transition: all .5s;

        z-index: 3;
    }
    nav ul li{
        display:block;
        margin:50px 0;
        line-height:30px;
    }
    nav ul li a{
        font-size:1rem;
    }
    a:hover,a.active{
        background:none;
        color:#0082e6;
    }
    #check:checked ~ ul{
        left:-20%;
    }
}
@media screen and (max-width:858px) and (orientation:landscape){
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        width: 100%;
        height:100vh;
        background: #2c3e50;
        top:65px;
        left:-100%;
        text-align:center;
        transition: all .5s;

        z-index: 3;
    }
    nav ul li{
        display:block;
        margin:3.5% 0;
        line-height:20px;
    }
    nav ul li a{
        font-size:1rem;
    }
    a:hover,a.active{
        background:none;
        color:#0082e6;
    }
    #check:checked ~ ul{
        left:-20%;
    }
}
.container_2{
    width:100vw;
    /* height:90vh; */
    display:flex;
    flex-direction:row;
    flex:1;
    align-items:center;
    gap:5vw;

    /* background-color: aquamarine; */
}

/* WELCOME, PARAGRAPH and SIGN UP */

.info {
    margin-left:8%;
    
    color:white;

    /* border:2px solid black; */

    align-self: center;
    transform: translateY(15%);
    
}
.info h2 {
    flex:0;

    font-size:5rem;
    font-family:'Ubuntu';
    margin-bottom:20px;
    
}
.info p{
    font-size:1.4rem;
    /* background-color: #212121; */
    width: 80%;
    text-align: center;
}
.info a {
    background: #212121;
    text-decoration: none;
    padding:15px 23px;
    color: #ffff;
    font-size:1.3rem;
    display:inline-block;
    margin:30px 0;
    border-radius:5px;

    font-family: 'Poppins';

    transition: 0.4s;
}
.info a::before,
.info a::after{
    z-index:-1;
    content:"";
}
.info a:hover {
    color:black;
    background-color:white;
    scale:1.05
}

/* FORTNITE AND TEXT */

.img-box {
    width:50vw;
    height:70vh;
    position: relative;
    margin-right:5%;
    transform: translateY(11%);
    
    /* border:2px solid black; */

    display:flex;
    flex-direction: column;
    justify-content:center;

    transition: 0.7s;
    
}
.img-box:hover{
    scale:1.05;
}
.img-box img {
    width:100%
}
.description {
    width:100%;
    
    background-color: aliceblue;
}
.description p {
    padding: 20px;
    font-size:1.2rem;
}
@media (max-width:994px){
    .container_2 {
        flex-direction:column;
        gap:15px;
    }
    .info {
        width:90vw;

        margin:5px;
    }
    .info > h2, p{
        margin-left:50%;
        transform: translateX(-50%);
    }
    .info > a {
        margin-left: 50%;
        transform: translateX(-50%);
        font-size: 1.3rem;
    }
    .img-box{
        width:60vw;
        height:70vh;
        justify-self: center;
        margin:0;
    }
    .description p{
        width:80%;
    }
}

