@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background: linear-gradient(to right, #000428, #004e92);
}
nav{
    top:0;
    height:65px;
    width:100%;
    background-color:rgba(52, 53, 54, 0.543);
    z-index: 10;
    position: sticky;

    transition: .5s ease-in-out;
}
nav:hover{
    background-color:#0671c2;
    box-shadow: 0px 2px 5px #1f2340ad;
}
nav.sticky{
    padding:5px 100px;
    background: #fff;
}
label.logo{
    color:white;
    font-size:35px;
    font-family: 'Shadows Into Light', cursive;
    line-height:80px;
    padding:0 100px;
    font-weight:bold;
}
nav ul{
    float:right;
    margin-right:20px;
}
.close-button-nav{
  scale:0;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color:white;
  font-size: 3rem;

  transform: translateX(900%);

    display:inline-block;
    
    margin:-5px 5px;
}
nav ul li{
    display:inline-block;
    line-height:80px;
    margin:0 5px;
}
nav ul li a{
    color:white;
    font-size:1.2rem;
    padding:7px 13px;
    text-transform:uppercase;
    border-radius:3px;
}
.signup_nav{
    background-color: rgb(255, 255, 255);
    color:black;
    cursor:pointer;
}
.signup_nav:hover{
    border-radius: 6px;
    background: white;
    box-shadow:  4px 4px 7px #0404049e;
    transition:0.4s ease-in-out;
}
nav a.active,nav a:hover{
    transition:.5s;
    background-color: #1b9bff;
}
.checkbtn{
    font-size:30px;
    color:white;
    float:right;
    line-height:80px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}
#check{
    display:none;
}
@media(max-width:952px){
    label.logo{
        font-size:30px;
        padding-left:50px;
    }
    nav ul li a{
        font-size:1.2rem;
    }
    ul{
      position:fixed;
      width: 100%;
      height:100vh;
      background: #2c3e50;
      top:65px;
      left:-100%;
      text-align:center;
      transition: all .5s;

      z-index: 3;

      overflow:auto;
  }
  .close-button-nav{
    scale:1;
    transform: translateX(700%)
  }
  nav ul li{
      display:block;
      margin:8vh 0;
      line-height:30px;
  }
}
@media(max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        width: 100%;
        height:100vh;
        background: #2c3e50;
        top:65px;
        left:-100%;
        text-align:center;
        transition: all .5s;

        z-index: 3;

        overflow:auto;
    }.close-button-nav{
      scale:1;
      transform: translateX(500%)
    }
    nav ul li{
        display:block;
        margin:50px 0;
        line-height:30px;
        margin:8vh 0;
    }
    nav ul li a{
        font-size:1.2rem;
    }
    a:hover,a.active{
        background:none;
        color:#0082e6;
    }
    /* #check:checked ~ ul{
        left:-20%;
    } */
}
@media(max-width:500px){
  .close-button-nav{
    scale:1;
    transform: translateX(300%)
  }
}
@media(max-width:330px){
  .close-button-nav{
    scale:1;
    transform: translateX(260%)
  }
}
@media screen and (max-device-width:920px) and (orientation:landscape){
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        width: 100%;
        height:100vh;
        background: #2c3e50;
        top:65px;
        left:-100%;
        text-align:center;
        transition: all .5s;

        z-index: 3;

        overflow:auto;
    }
    nav ul li{
        display:block;
        margin:20vh 0;
        line-height:20px;
    }
    nav ul li a{
        font-size:1.2rem;
    }
    a:hover,a.active{
        background:none;
        color:#0082e6;
    }
    /* #check:checked ~ ul{
        left:-20%;
    } */
}


.container1{
  position:relative;
  height:83vh;
}
.container1::before{
  content: "";
  
  background-image: url('images/Fortnite_Polo_2\ \(1\)\ \(1\).jpg');
  opacity:0.7;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  left: 0;
  top:0;
  height:83vh;
  width:100%;
  z-index: -1;

  filter:blur(1px);

  display:flex;
  flex-direction: column;
}
.textWrapper{
  height:70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-shadow: 5px 5px 5px rgba(5, 5, 5, 0.397);
}
.textWrapper .primaryText{
  font-size: 3.4rem;
  font-weight: 800;
  color:white;
  width:65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
}
.textWrapper .secondaryText{
  font-size: 1.2rem;
  text-align: center;
  color:#fbfbfbb4;
  width: 50%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 600;
}
.buttonWrapper {
  text-align: center;
  height:30%;
}
.buttonWrapper button{
  background-color: aliceblue;
  outline: 0;
  border:0;
  text-transform: uppercase;
  padding:12px 30px;
  border-radius: 3px;
  font-size: 1.4rem;
  font-weight: 800;

  position: relative;
  margin-top: 18px;
  cursor:pointer;
  transition: 0.5s;
}
.buttonWrapper .gamesButton{
  background-color: #005eff;
  margin-left: 40px;
  color:white;
}
.buttonWrapper .gamesButton a{
  text-decoration: none;
  color:white;
}
.buttonWrapper .signupButton:hover{
  background-color: #1e1f20;
  color:white;
  box-shadow: 10px 10px 5px #0004286d;
}



@media(max-width:900px) {
  .textWrapper .primaryText{
      font-size: 3.2rem;
  }
  .textWrapper .secondaryText{
      font-size:1.1rem;
  }
  .buttonWrapper button{
      font-size: 1.25rem;
      padding:10px 25px;
  }
}
@media(max-width:660px){
  .textWrapper .secondaryText{
      width:60%;
  }
}
@media(max-width:550px){
  .textWrapper .primaryText{
      font-size: 3rem;
  }
  .textWrapper .secondaryText{
      width:70%;
  }
}


.container2{
  position:relative;
  /* height:220vh; */
  width:98%;
  /* border: yellow 2px solid; */
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-template-areas:
  "item1 item1 item1 item1"
  "item3 item3 item3 item3"
  "item3 item3 item3 item3"
  "item2 item2 item4 item4"
  "item5 item5 item5 item5";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto 150px;
  grid-gap:10px;
}
.container2 .seeMore{
  display:block;
  color:#005eff;
  cursor:pointer;
  padding:15px 0;
}
.container2 .secondaryLabel{
  color:#ffffff7e
}
.game1,.game2,
.game4,.game5{
  background-color: rgba(0, 0, 0, 0.64);
  border-radius: 4px;
}
.game1{
  grid-area: item1;
}
.game1 .nested-grid{
  display:grid;
  grid-template-areas: 
      "section1 section2 section3";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap:10px;
}
.game1 .nested-grid > *{
  margin-bottom: 20px;
}

.nested-grid i{
  color:whitesmoke;
  font-size: 7rem;

  display: block;
  
  margin-top: 15px;
}
.game1-primaryText{
  color:whitesmoke;
  font-size: 1.9rem;
  display:block;
}
.game1-secondaryText{
  color:#ffffff7e;
  display:block;
  
  margin-right: auto;
  margin-left: auto;

  font-size: 1.15rem;
  width:90%;
  /* border:greenyellow 2px solid; */
}
.part1{
  grid-area:section1;

  text-align: center;
}

.part2{
  grid-area: section2;

  text-align: center;
}

.part3{
  grid-area: section3;

  text-align: center;
}

.game2{
  grid-area: item2;
}
.game2 img,
.game4 img{
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top:10px;
  border-radius: 5px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width:95%;
  
  margin-top: 20px;
  
  cursor: pointer;
}
.game2 label,
.game4 label{
  text-align: center;
  color:white;
}
.game2 .primaryLabel,
.game4 .primaryLabel{
  display:block;
  font-size: 2rem;
}
.game2 .secondaryLabel,
.game4 .secondaryLabel{
  display:block;
  font-size: 1.1rem;

}
.game3{
  grid-area: item3;
  background-color: rgba(0, 0, 0, 0.646);
}
.game3 .primaryBigLabel{
  display:block;
  text-align: center;
  color:white;
  font-size:2.7rem;
  padding:0 5px;

  /* margin-top: 30px; */
}
.game3 .secondaryLabel{
  font-size: 1.1rem;
  width:90%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  /* border: 2px solid red; */
}
.game3 .platforms{
  display:flex;
  position:relative;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  gap:20%;

  justify-content: center;

  /* border:2px red solid; */
}
.game3 .platforms i{
  font-size: 5rem;
  color:whitesmoke;
}
.grid-of-games{
  display:grid;
  gap:10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  width:95%;
  height:40vh;
  /* border:2px yellowgreen solid; */
  grid-template-areas: 
      "play1 play3 play2 play2"
      "play1 play3 play2 play2"
      "play1 play3 play2 play2";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.grid-of-games > *{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 2px;
}
.grid-of-games .play1{
  grid-area: play1;
  background-image: url("images/NFSUnbound.jpg");
}
.grid-of-games .play2{
  grid-area: play2;
  background-image: url("images/TheLastOfUs.jpg");
}
.grid-of-games .play3{
  grid-area: play3;
  background-image: url("images/GOW.jpeg");
}
.game4{
  grid-area: item4;
}
.game5{
  grid-area: item5;
}
.container2 .seeMore{
  display:block;
  color:#005eff;
}


footer{
  position: relative;
  height:100%;
  display:flex;
}

.footerContainer{
  color:white;
  width:100%;
  /* height:60%; */
  display:grid;
  grid-template-areas: 
      "con nav fol";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  /* grid-row-end: span; */
  align-items:center;
  gap:10px;
}
.footerContainer > *{
  text-align: left;
  padding:0 20px;
  height:auto;
}

.footerContainer .navigation a {
  display:block;
  color:#fbfbfbb4;
}
.footerContainer h3{
  font-size: 1.7rem;
}
.contactUs{
  grid-area:con;
}
.contactUs p{
  color:#fbfbfbb4;
}
.navigation{
  grid-area:nav;
}
.followUs{
  grid-area:fol;
}
.followUs a{
  color:#fbfbfbb4;
  font-size: 2rem;
}
.followUs .fa.fa-facebook{
  margin-left: 0;
}
.followUs .fa.fa-twitter,
.followUs .fa.fa-instagram{
  margin-left: 40px;
}

.text-center{
  color:white;
  display:block;
  position:relative;
  text-align: center;
  font-size: 0.9rem;
  padding:20px 0;
  background-color: rgba(0, 0, 0, 0.64);
}

@media(max-width:930px){
  .game1-primaryText{
      font-size: 1.5rem;
  }
  .game1-secondaryText{
      font-size: 1rem;
  }
  .game3 .primaryBigLabel{
      font-size: 2.3rem;
  }
  .game3 .platforms i{
      font-size: 3rem;
      gap:15%;
  }
}
@media(max-width:850px){
  
  
  .nested-grid i{
      font-size: 5.5rem;
  }
  .game2 .primaryLabel,
  .game4 .primaryLabel{
      font-size: 1.9rem;
  }
  .game2 .secondaryLabel,
  .game4 .secondaryLabel{
      font-size: 1.07rem;
  }
  .container2 .seeMore{
      font-size:0.95rem;
  }
  .game2,
  .game4{
      display: grid;
      align-content: center;
  }
}
@media(max-width:740px){
  .container2{
  grid-template-areas:
  "item3 item3 item3 item3"
  "item3 item3 item3 item3"
  "item2 item2 item4 item4"
  "item1 item1 item1 item1"
  "item5 item5 item5 item5";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto 150px;
  }
  .game1{
      grid-area: item1;
  }
  .game2{
      grid-area: item2;
  }
  .game3{
      grid-area: item3;
  }
  .game4{
      grid-area: item4;
  }
  .game5{
      grid-area: item5;
  }
}
@media(max-width:660px){
  .nested-grid i{
      font-size: 4rem;
  }
  .game1-primaryText{
  font-size: 1.35rem;
  }
  .game1-secondaryText{
      font-size: 0.97rem;
      width:97%;
  }
  .game3 .platforms i{
      font-size: 2.85rem;
      gap:12%;
  }
  
}
@media(max-width:600px){
  .footerContainer h3{
  font-size: 1.4rem;
  }
  .followUs a{
  color:#fbfbfbb4;
  font-size: 1.5rem;
  }
  .followUs .fa.fa-twitter,
  .followUs .fa.fa-instagram{
      margin-left: 20px;
  }
  .footerContainer p,
  .footerContainer .navigation a{
      font-size: 0.93rem;
  }
}
@media(max-width:550px){
  .container2{
    grid-template-rows: auto auto auto auto 220px;
    }
  .footerContainer{
    grid-template-areas: 
        "con nav"
        "fol fol"
        ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-end: span;
    align-items:center;
    gap:10px;
    }
    .contactUs{
    grid-area:con;
    }
    .navigation{
    grid-area:nav;
    }
    .followUs{
    grid-area:fol;
    }
}
@media(max-width:510px){
  .container2{
      grid-template-rows: auto auto auto auto 220px;
      }
  .game1 .nested-grid{
  grid-template-areas: 
      "section1 section2"
      "section3 section3";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-gap:10px;
  }
  .part1{
      grid-area:section1;
  }
  .part2{
      grid-area: section2;
  }
  .part3{
      grid-area: section3;
  }
  .grid-of-games{
      display:grid;
      gap:10px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 45px;
      width:95%;
      height:auto;
      /* border:2px yellowgreen solid; */
      grid-template-areas: 
          "play2 play2"
          "play1 play3";
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 230px 250px;
  }
  .grid-of-games .play1{
  grid-area: play1;
  }
  .grid-of-games .play2{
      grid-area: play2;
  }
  .grid-of-games .play3{
      grid-area: play3;
  }
  .footerContainer{
  grid-template-areas: 
      "con nav"
      "fol fol"
      ;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-end: span;
  align-items:center;
  gap:10px;
  }
  .contactUs{
  grid-area:con;
  }
  .navigation{
  grid-area:nav;
  }
  .followUs{
  grid-area:fol;
  }
}
@media(max-width:465px){
  .container1{
      position:relative;
      height:81vh;
  }
  .container1::before{
      height:81vh;
  }
  .textWrapper .primaryText{
      font-size: 2.5rem;
      font-weight: 800;
      width:80%;
  }
  .textWrapper .secondaryText{
      font-size: 1rem;
      width: 70%;
  }
}
@media(max-width:450px){
  .container2{
  grid-template-areas:
  "item3 item3 item3 item3"
  "item3 item3 item3 item3"
  "item2 item2 item2 item2"
  "item4 item4 item4 item4"
  "item1 item1 item1 item1"
  "item5 item5 item5 item5";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto auto 220px;
  }
  .game1{
      grid-area: item1;
  }
  .game2{
      grid-area: item2;
  }
  .game3{
      grid-area: item3;
  }
  .game3 .primaryBigLabel{
      font-size: 2.4;
  }
  .game4{
      grid-area: item4;
  }
  .game5{
      grid-area: item5;
  }
}
@media(max-width:385px){
  .container2{
      grid-template-rows: auto auto auto auto auto 350px;
  }
  .game1 .nested-grid{
  grid-template-areas: 
      "section1"
      "section2"
      "section3";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-gap:10px;
  }
  .part1{
      grid-area:section1;
  }
  .part2{
      grid-area: section2;
  }
  .part3{
      grid-area: section3;
  }
  .footerContainer{
  grid-template-areas: 
      "con" 
      "nav"
      "fol"
      ;
  /* grid-template-columns: 1fr; */
  grid-template-rows: repeat(3, auto);
  grid-row-end: span;
  align-items:center;
  gap:10px;
  }
  .contactUs{
  grid-area:con;
  }
  .navigation{
  grid-area:nav;
  }
  .followUs{
  grid-area:fol;
  }
}

/* SIGN UP Modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    /* border: 1px solid black; */
    border-radius: 5px;
    z-index: 11;
    background-color: #005eff;
    width: 600px;
    max-width: 80%;

    box-shadow:  -15px 15px 36px #0667b220,
             15px -15px 36px #067ad21f;

    font-family: 'Poppins';
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 2.7rem;
    font-weight: bold;
    color:white;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color:white;
    font-size: 2rem;
  }
  
  .modal-body {
    padding: 10px 15px;
    text-align: center;
    background-color: rgba(31, 32, 33, 0.905);
  }
  .modal-body .email{
    color:white;
    font-size:1.1rem;
  }
  .modal-body .password{
    color:white;
    font-size:1.1rem;
    margin-top: 30px;
    display:block;
  }
  .modal-body .emailInput {
    display:block;
    outline:0;
    /* border-radius: 5px; */
    border:none;
    border-bottom:2px solid white;
    background-color: rgba(36, 42, 53, 0.364);
    color:white;
    font-size:1.1rem;
    padding:6px 5px;
    text-align: center;
    width: 300px;

    margin-left:50%;
    transform: translateX(-50%);
  }
  .modal-body .emailInput:focus{
    background-color: #2767d5;
  }
  .modal-body .passwordInput {
    display:block;
    outline:0;
    /* border-radius: 5px; */
    border:none;
    border-bottom:2.5px solid white;
    background-color: rgba(36, 42, 53, 0.364);
    color:white;
    font-size:1.1rem;
    padding:6px 5px;
    text-align: center;
    width: 300px;

    margin-left:50%;
    transform: translateX(-50%);
  }
  .modal-body .passwordInput:focus{
    background-color: #2767d5;
  }
  .modal-body .check_wrapper{
    margin-top: 15px;
    font-size:1.05rem;
  }
  .modal-body .togglePassword{
    color:white;
  }
  .modal-body .checkbox{
    scale:1.6;
    margin-left: 15px;
    outline: 0;
    border: 0;
  }
  .modal-body button {
    width:300px;
    max-width: 80%;
    font-size:1.2rem;
    font-weight: 700;
    color:white;
    background-color:#005eff;
    border:none;
    outline:none;
    height:40px;
    border-radius: 5px;

    margin-top:50px;

    cursor:pointer;
  }
  .modal-body .orConditional{
    display:block;
    color:white;
    font-size:1.2rem;
    font-weight: 800;
  }
  .modal-body i{
    color:white;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 20px;
    cursor:pointer;
  }
  .modal-body .fa-brands.fa-google{
    margin-left: 0;
  }
  .alreadyHave{
    color:white;
  }
  .modal-body .login{
    color:#005eff;
    cursor:pointer;
    text-decoration: underline;
  }
  @media(max-width:500px){
    .modal, .modal-body, .modal-header, .modal-body {
        width:280px;
    }
    .modal-body .passwordInput, .modal-body .emailInput{
        width:200px;
    }
  }
  @media(max-width:338px){
    .modal, .modal-body, .modal-header, .modal-body {
        width:245px;
    }
    .modal-body .passwordInput, .modal-body .emailInput{
        width:175px;
    }
  }
  @media(max-width:300px){
    .modal, .modal-body, .modal-header, .modal-body {
        width:224px;
    }
    .modal-body .passwordInput, .modal-body .emailInput{
        width:160px;
    }
  }

  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

